@addTagHelper *, Vereyon.Web.FlashMessage

<flash dismissable="true" />
<div class="container">
    <section>
        <div class="container">

            <div class="text-center">
                <h1>Current Products</h1>
            </div>

        </div>

    </section>

</div>


<div class="center">
    <label><h2>Buildings</h2></label>
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th>Admin Name</th>
                <th>Admin Email</th>
                <th>Phone Number</th>
                <th>Tech Name</th>
                <th>Tech Email</th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var building in ViewBag.building)
            {
                <tr>
                    <td>@building.AdminName</td>
                    <td>@building.AdminEmail</td>
                    <td>@building.AdminPhoneNumer</td>
                    <td>@building.TechFullName</td>
                    <td>@building.TechEmail</td>
                   
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="center">
    <label><h2>Batteries</h2></label>
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th>Battery Type</th>
                <th>Status</th>
                <th>Last Inspection</th>
                <th>Certificate</th>
                <th>Employee ID</th>
                <th>Intervention</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var battery in ViewBag.battery)
            {
                <tr>
                    <td>@battery.BatteryType</td>
                    <td>@battery.Status</td>
                    <td>@battery.DateOfLastInspection</td>
                    <td>@battery.CertificateOfOperations</td>
                    <td>@battery.EmployeeId</td>
                    <td>
                        @Html.ActionLink("Request Intervention", "Index", "Intervention", new { product = "battery", id = @battery.Id }, null)

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="center">
    <label><h2>Columns</h2></label>
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th>Column Type</th>
                <th>Number of Floor</th>
                <th>Status</th>
                <th>Intervention</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var column in ViewBag.column)
            {
                <tr>
                    <td>@column.ColumnType</td>
                    <td>@column.NumberOfFloor</td>
                    <td>@column.Status</td>
                    <td>
                        @Html.ActionLink("Request Intervention", "Index", "Intervention", new { product = "column", id = @column.Id }, null)

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="center">
    <label><h2>Elevators</h2></label>
    <table class="table table-striped table-dark">

        <thead>
            <tr>
                <th>Serial Number</th>
                <th>Model</th>
                <th>Elevator Type</th>
                <th>Status</th>
                <th>Last Inspection</th>
                <th>Certificate</th>
                <th>Intervention</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var elevator in ViewBag.elevator)
            {
                <tr>
                    <td>@elevator.SerialNumber</td>
                    <td>@elevator.Model</td>
                    <td>@elevator.ElevatorType</td>
                    <td>@elevator.Status</td>
                    <td>@elevator.DateOfLastInspection</td>
                    <td>@elevator.CertificateOfInspection</td>
                    <td>
                        @Html.ActionLink("Request Intervention", "Index", "Intervention", new { product = "elevator", id = @elevator.Id }, null)

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>